{# twig pour étendre ma base.html #}
{% extends 'base.html.twig' %}
{# twig pour titre #}
{% block title %}Mon compte-La voie du Dragon{% endblock %}
{# twig content pour afficher le contenue ci dessous #}
{% block content %}
  <div class="row">
            <div class="col-2 overflow-hidden">
                <!-- deux images -->
                    <img src="/assets/img/yingyang2.jpg" class="img-responsive" alt="symbole yingyang" 
                        width="150" height="auto" title="yingyang"></br>
                    <img src="/assets/img/dragon-accountxs.png"  class="img-responsive" 
                        alt="un dragon qui s eleve" width="150" height="500" title="dragon">
              </div><!-- /.col-1 overflow-hidden -->
     <div class="col-10 overflow-hidden">
            <!-- espace compte h1 titre -->
            <h1 class="account-title">Mon compte</h1>
             {# fonction twig pour afficher le nom d'utilisateur #}
            <p class="account-item">Bienvenue {{ app.user.firstname|upper|raw }} {# won't be escaped #} dans votre compte.</br>
            C'est dans cet espace que vous allez pouvoir gérer votre mot de passe et me contacter.</p>
                    {# fonction twig pour afficher l 'image du dragon de shaolin #}
                 <img src="{{ asset('assets/img/shiruxs.jpg')}}" class="img-responsive overflow-hidden" 
                    alt="fresque sculture dragon du temple de shaolin" width="925" height="200" 
                    title="dragon shaolin">  
                 <div class="account-item">
                     {# fonction twig is granted pour securiser l'acces a l'admin #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="/admin" target="_blank" class="account-admin">
                            Back Office pour Administrateur</a><br/>
                        {% endif %}</br>
                     {# fonction twig avec ancre pour envoyer sur la page contact #}
                    <a href="{{path('app_contact') }}" target="_blank" class="account-link">
                    Pour Me Contacter</a><br/> 
                    <hr>
                     {# fonction twig avec ancre pour envoyer sur la page modifie mdp #}
                    <a href="{{path('app_account_password') }}" class="account-link">
                    Modifier mon mot de passe </a><br/>
                </div> <!-- /.account-item -->      
      </div> <!-- /.col-10 overflow-hidden -->
  </div><!-- /.row --> 
{% endblock %}{# twig fin du contenu #}
