{# twig pour étendre ma base.html #}
{% extends 'base.html.twig' %}
{# twig pour titre #}
{% block title %}Mon compte-La voie du Dragon{% endblock %}
{# twig content pour afficher le contenue ci dessous #}
{% block content %}
  <div class="row">
            <div class="col-1 overflow-auto">
                <hr><!-- trois images -->
                    <img src="/assets/img/yingyang2.jpg" alt="symbole yingyang" width="80" height="68" title="yingyang"></br>
                    <img src="/assets/img/dragon-accountxs.png" alt="un dragon qui s eleve" width="80" height="432" title="dragon">
                    <img src="/assets/img/long2.jpg" width="80" alt="synogrammes dragon" height="105 " title="sinogrammes dragon"> 
              </div><!-- /.col-1 overflow-auto -->
     <div class="col-11">
            <hr>
            <h1 class="account-title">Mon compte</h1>
             {# fonction twig pour afficher le nom d'utilisateur #}
            <p class="account-item">Bienvenue {{ app.user.firstname }} dans votre compte.</br>
            C'est dans cet espace que vous allez pouvoir gérer votre mot de passe et me contacter.</p></br>
                 <div class="account-item">
                     {# fonction twig is granted pour securiser l'acces a l'admin #}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="/admin" target="_blank" class="account-admin">
                    Back Office pour Administrateur</a><br/>
                    {% endif %}</br>
                     {# fonction twig avec ancre pour envoyer sur la page contact #}
                    <a href="{{path('app_contact') }}" target="_blank" class="account-link">
                    Pour Me Contacter</a><br/> 
                    <hr>
                     {# fonction twig avec ancre pour envoyer sur la page modifie mdp #}
                    <a href="{{path('app_account_password') }}" class="account-link">
                    Modifier mon mot de passe </a><br/>
                </div> <!-- /.account-item --> 
                <div class='overflow-auto'><!--bootsratp pour responisve image -->
                {# fonction twig pour afficher l 'image de l'article #}
                <img src="{{ asset('assets/img/logo2.png')}}" alt="" width="1020" height="200" title="dragon foudre">  
                </div><!-- /. overflow-auto -->
      </div> <!-- /.col-11 -->
  </div><!-- /.row --> 
{% endblock %}{# twig fin du contenu #}
