{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - DigitalDev{% endblock %}

{% block content %}
<h1 class="style3">Modifié mon mot de passe</h1>
<a href="{{path('app_account') }}">Retourner à mon compte</a></br>
<hr>
{% if notification %}
        <div class="alert alert-info">
        </div>

{% endif %}
        <div class="">
       
        </div>
<hr>

{% endblock %}