{% extends 'base.html.twig' %}
{% block title %}Modifier mon mot de passe - La voie du dragon{% endblock %}
{% block content %}
        <h1 class="title">Modifié mon mot de passe</h1>
        {% if notification %}
                <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
                <div class="form">
                        {{ form(form) }}
                        <a href="{{path('app_account') }}">Retourner à mon compte</a>
                </div>
                <hr>
{% endblock %}