{% extends 'base.html.twig' %}
{% block title %}Modifier mon mot de passe - La voie du dragon{% endblock %}
{% block content %}
        <h1 class="title">Modifié mon mot de passe</h1>
        {# condition if en utilsiant twig #}
        {% if notification %}
                <!-- envoye notification -->
                <div class="alert alert-info">{{ notification }}
                </div><!-- /.alert alert-info -->
        {% endif %}
                <div class="form"><!-- div pour habiller formulaire -->
                        {# function twig pour afficher le formulaire #}
                        {{ form(form) }}
                        {# fonctions twig avec passage pour renvoyer sur mon compte #}
                        <a href="{{path('app_account') }}">Retourner à mon compte</a>
                </div><!-- /.form -->
                <hr>
{% endblock %}