{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié- La voie du dragon{% endblock %}

{% block content %}
    <div class="block-small">
    {% for message in app.flashes('notice')%}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <hr>
    <form method="post">
        <div class="form2">
        <h1 class="style3">Réinitialiser mon mot de passe</h1>
        <label for="inputEmail" class="style4">Votre email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" required autofocus>
        <button class="btn btn-lg btn-primary btn-sm" type="submit">
            Réinitialiser mon mot de passe
        </button>
    </div>
        <hr>
        <p class="text-center">Pas encore inscrit?<a href="{{path('app_register') }}">
                creer un compte</a>
        </p>
        <hr>
        <p class="text-center">Ou souhaitez-vous<a href="{{ path('app_login') }}">
                Vous connecter</a>?</p>
    </form>
    </div>
{% endblock %}
