{# twig pour étendre ma base.html #}
{% extends 'base.html.twig' %}
{# twig pour titre #}
{% block title %}Rénitialisation du Mot de passe- La voie du dragon{% endblock %}
{# twig content pour afficher le contenue ci dessous #}
{% block content %}
	<div class="block-small">
		<h1 class="title">Réinitialiser mon mot de passe</h1>
			{# twig boucle For #}
			{% for message in app.flashes('notice')%}
				{# div avec alert et fonction twig pour faire apparaitre message #}
				<div class="alert alert-info">{{ message|upper|raw }} {# won't be escaped #}
				</div><!-- /. alert alert-info -->
			{% endfor %}{# twig fin de la boucle for #}
			<div class="form2">
				{# twig pour afficher le logo #}
				<img src="/assets/img/{{ 'logo.png' }}"class="amg-fluid" 
				alt="logo " title="Logo la voie du Dragon" width="300" >
				{{ form(form)|raw }} {# won't be escaped #}
			</div><!-- /. form2 -->
	</div><!-- /.block-small -->
{% endblock %}{# twig fin du contenue #}
