{% extends 'base.html.twig' %}

{% block title %}Rénitialisation du Mot de passe- La voie du dragon
{% endblock %}

{% block content %}
	<div class="block-small">
<h1 class="title">Réinitialiser mon mot de passe</h1>
		{% for message in app.flashes('notice')%}
<div class="alert alert-info">{{ message }}</div>
		{% endfor %}
		<div class="form">
		{{ form(form)}}
		</div>
	</div>
{% endblock %}
