.navbar-dark,  .navbar-dark a {
    font-size: 20px;
    font-weight:bold;
    font-family: cursive;
    background-color: black;
    color:  #0dcaf0;
   

}
.body {
    background-color: darkgray;
}

.footer-custom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    bottom:0px;
    margin-left: -9%;
    margin-right: -9%;
    background-color: #000;
    color:   #0dcaf0;
    position: relative;
}
.style {
    font-size: 30px;
    font-weight:bold;
    font-family: cursive;
    justify-content: center;
    color: whitesmoke;
   
    
} 
.form {
    font-weight:bold;
    text-align:center;
    color:   #0dcaf0;
    border: 5px solid rgb(42, 6, 6);
    border-top: 15px solid rgb(42, 6, 6);
    background-image: url(../img/logo2.png);
    background-size: 1200px auto;
}
.register-item, .register-item a{
    text-align:center;
    font-family: cursive;
    color: whitesmoke;
    background-color: #000;
    border: 5px solid rgb(42, 6, 6);
    border-top: 20px solid rgb(42, 6, 6);
    border-bottom: 20px solid rgb(42,6,6);

}
.form2 {
    font-size: 30px;
    font-weight:bold;
    text-align:center;
    color: whitesmoke;
    border: 5px solid rgb(42, 6, 6);
    border-top: 15px solid rgb(42, 6, 6);
    background-image: url(../img/dragon-or.jpg);
    background-size: 1200px 500px;
}
.form3 {
   
    font-weight:bold;
    text-align:center;
    color: #000;
    border: 5px solid #000;
    border-top: 15px solid #000;
    background-image: url(../img/logo2.png);
   
}

.title {
    font-size: 60px;
    text-align: center;
    font-family: cursive;
    border: 20px solid rgb(42, 6, 6);
    border-width: 30px;
}
.title2 {
    font-size: 60px;
    font-weight:bold;
    text-align: center;
    font-family: cursive;
    border: 20px solid #000;
    border-width: 30px;
    background-color: #fff;
}
.title-item {
    font-family:cursive;
    font-weight:bold;
    border: 5px solid rgb(42, 6, 6);
    border-width: 10px;
    text-align: center;

}
.title-item2 {
    font-family:cursive;
    text-align: center;
    border: 10px solid #000;
    background-color: #fff;
}
.title-search {
    font-family:cursive;
    font-size:x-large;
    text-align: center;
    border: 10px solid #000;
    background-color: #fff;
}
.title-cgu {
    font-family:cursive;
    font-size:x-large;
    text-align: center;
    border: 10px solid rgb(42, 6, 6);;
    background-color: #fff;
}
.light-cgu {
    border-top: 30px solid rgb(42, 6, 6);
    border-right: 10px solid rgb(42, 6, 6);
    border-bottom: 10px solid rgb(42, 6, 6);
    
}
.light-cgu2 {
    border-top: 30px solid rgb(42, 6, 6);
    border-left: 10px solid rgb(42, 6, 6);
    border-bottom: 10px solid rgb(42, 6, 6);
}

.account-title{
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-family: cursive;
    border-top: 10px solid rgb(42, 6, 6);
    border-left: 8px solid rgb(42, 6, 6);
    border-bottom: 10px solid rgb(42, 6, 6);
}
.account-item{
  
    text-align: center;
    font-family: cursive;
    border-top: 10px solid rgb(42, 6, 6);
    border-left: 10px solid rgb(42, 6, 6);
    border-bottom: 10px solid rgb(42, 6, 6);
}
.account-admin {
    border-left: 10px solid rgb(42, 6, 6);
    border-right: 10px solid rgb(42, 6, 6);
    border-bottom: 10px solid rgb(42, 6, 6);
    border-radius: 30px;
    background-color: #000;
    color:#fff;
    font-weight:bold;
}
.account-link{
    border-left: 10px solid rgb(42, 6, 6);
    border-right: 10px solid rgb(42, 6, 6);
    border-top: 7px solid rgb(42, 6, 6);
    border-radius: 30px;
    color:#000;
    font-weight:bold;

}
.feature- .feature a {
   font-size: 14px;
}
.subtitle-item {
    font-size: 18px;
    font-family: cursive;
}
.text-item {
    font-size: 18px;
    border:2px solid #000;
    background-color: azure;
}
.image-arts {
    border: 2px solid black;
}
.title-carousel {
    font-size: 50px;
    font-family: cursive;
   color:  #0dcaf0;

}
.title-carousel2 {
    font-size: 50px;
    font-family: cursive;
   color: #000;
}
.text-carousel{
    font-size: 18px;
    font-family: cursive;
    color: #000;
}
.title-address {
    font-size: 24px;
    font-family: cursive;
    color: #000;
    text-align: center;
}
.text-address {
    font-size: 16px;
    font-family: cursive;
    color: #000;
    text-align: center;
}
.doubledragon {
    background-color: cadetblue;
    border: 10px solid rgb(42, 6, 6);
    border-radius: 60px;
    color:#000;
}
.home-item {
    font-size: 24px;
    font-family: cursive;
    text-align: center;
}
.blog-item {
    font-family: cursive;
    font-size: 14px;
    border-right: 5px solid rgb(42, 6, 6);
    border-top:  5px solid rgb(42, 6, 6);
    border-bottom:  5px solid rgb(42, 6, 6);
}
.blog-image {
    border: 5px solid rgb(42, 6, 6);
   
}