{% extends 'base.html.twig' %}

{% block title %}La voie du Dragon{% endblock %}

{% block content %}
<div class="row">
           <div class="col-md-5">
               
           </div>
           <div class="col-md-7 my-auto"></div>
</div>
        
            
       
{% endblock %}
