{% extends 'base.html.twig' %}

{% block title %}S' inscrire - La voie du Dragon{% endblock %}
{% block content %}
    <h1>Inscriptions</h1> 
        {% if notification %}
    <div  class="alert alert-info">{{notification}}</div>
    </hr>
    {% endif %} 

   {{ form(form) }}
{% endblock %}
