{% extends 'base.html.twig' %}
{# twig pour étendre ma base.html #}
{# twig pour titre #}
{% block title %}S' inscrire - La voie du Dragon{% endblock %}
{% block content %}
    <hr>
    <h1 class="register-item">Inscriptions</h1> 
        {# twig conditions if pour notification #}
        {% if notification %}
            <div  class="alert alert-info">{{notification}}
            </div><!-- /.alert alert-info -->
            </hr>
        {% endif %} {# fin de la  condition if pour notifications #}
            <div class="form container-fluid">
                {# twig pour envoyer formulaire #}
                {{ form(form) }}
            </div><!-- /. form container-fluid -->
{% endblock %}
