{% extends 'base.html.twig' %}

{% block title %}S' inscrire - La voie du Dragon{% endblock %}
{% block content %}
<hr>
    
    <h1 class="register-item">Inscriptions</h1> 
        {% if notification %}
    <div  class="alert alert-info">{{notification}}</div>
    </hr>
    {% endif %} 
    <div class="form">
   {{ form(form) }}
    </div>

{% endblock %}
