{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La voie du Dragon{% endblock %}

{% block content %}

<div class="row">

    <div class="col-lg-8"> 
            <div class="form2">
            {{ form(form) }}
            </div>
    </div>
        <div class="col-lg-4 my-auto">
        
                <img src="/assets/img/logo.png" alt="img-fluid" title="La voie du dragon" width="420px" height="300px"></br>
                     <h1 class="title-address"> La voie du Dragon</h1>
                      <hr>
                    <p class="text-address"> square de la forge</br>
                         92310 Sèvres</p>
                        <hr>
                      <p class="text-address">  lavoiedudragonidf@gmail.com</P>
               
 </div>



{% endblock %}
