{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La voie du Dragon{% endblock %}

{% block contact %}

<div class="row">
<div clas="col_md-8"> {{ form(form) }}</div>
<div clas="col_md-4"></div>


</div>

{% endblock %}
