{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La voie du Dragon{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-8"> 
    {{ form(form) }}
    </div>
    <div class="col-lg-4 my-auto">
    <strong> La voie du Dragon</strong>
    <hr>
    square de la forge</br>
    92310 Sèvres</br>
    <hr>
    lavoiedudragonidf@gmail.com</br>
        
    </div>
</div>



{% endblock %}
