<!doctype html>
<html lang="fr">
      <!-- mon head est inclus dans le layout head.html.twig -->
              {% include "layout/head.html.twig" %}
      <body class="bg-dark"> 
              <!-- Google Tag Manager (noscript) -->
              <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MXTCLBX"
              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
              <!-- End Google Tag Manager (noscript) -->
              <!-- inclus le header dans le layout header.index.html.twig -->
              {% include "layout/header.html.twig" %}
        <main ><!-- carousel -->
            {# twig condition if pour le carousel si il est definis #}
            {% if block('carousel') is defined %}
              {% include "layout/carousel.html.twig" %} {# inclus le carousel dans le layout carousel.html.twig #}
            {% endif %} {# fin de twig condition if pour le carousel si il est definis #}
              <!-- Marketing messaging and featurettes mis dans home/index.html.twig
              ================================================== -->
              <!-- Wrap the rest of the page in another container to center all the content. -->
            <div class="container marketing {% if block ("carousel") is not defined %}mt-5{% endif %}">
                          {% block content %}  
                          {% endblock %}   
            </div><!-- /.container marketing -->
              {# inclus le footer dans le layout footer.html.twig #}    
              {% include "layout/footer.html.twig" %}
        </main><!-- fin du main -->
            <!-- script consentement cookies -->
            {% include "layout/cookies.html.twig"%}
          <!-- script js&jquery -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src={{ asset('assets/js/bootstrap.bundle.js') }}></script>
    </body><!-- fin du body -->
</html>
