{# twig pour étendre ma base.html #}
{% extends 'base.html.twig' %}
{# twig pour titre #}
{% block title %}Politique de confidentialité - la voie du Dragon{% endblock %}
{# twig content pour afficher le contenue ci dessous #}
{% block content %}
 <div class="row">
        <div class="col-md-2 overflow-auto"><!-- divise en 3 colonnes/2 petites colonnes sans rien -->
        </div><!-- /.col-md-2 -->
        {% include "layout/politique.html.twig" %}
        <div class="col-md-2">
        </div><!-- /.col-md-2 -->
 </div><!-- /.row -->
{% endblock %}{# twig fin du contenue #}
