{# twig pour étendre ma base.html #}
{% extends 'base.html.twig' %}
{# twig pour titre #}
{% block title %}Page introuvable- La voie du Dragon{% endblock %}
{# twig content pour afficher le contenue ci dessous #}
{% block content %}
    <div class="block-small d-flex justify-content-center"> 
        <img src="{{ asset('assets/img/logo.png')}}" alt="img-responsive" title="La voie du dragon" 
         width="60%" height="30%">
        <h1 class="title-address">Page introuvable</h1>
        <p class="text-address">Désolé, cette page n'existe pas.</p>
        <a href="{{ path('app_home') }}" class="btn btn-info">Revenir à l'accueil</a>
    </div><!-- /.form2 -->
{% endblock %}{# twig fin du contenue #}
