<div class="row featurette">
          <div class="col-md-7"><!-- 1er colonne avec text -->
              <h2 class="featurette-heading fw-normal lh-1" id="histoire_arts_martiaux">Qui je suis ?
                    <span class="text-muted">Ma vie</span>
              </h2>
              <p class="lead">L’histoire des arts martiaux, malgré ce que pense beaucoup de personnes, les arts martiaux ne vient
                    pas de <b>chine</b> mais c’est encore plus ancien.
                    Les premières traces remontent en <b>Egypte</b> et en <b>Nubie</b>, il y a plus de 3000 ans AV-JC.
                    Le <b>Aha ou Ahah,kermet Mariama</b> est une forme de boxe et de lutte pratiquées par les prêtes. 
                    Le <b>Kuta </b>a été créer par les gardes du corps des Anciens Pharaons pour trouver les meilleures 
                    méthodes efficaces pour défendre le Phararon. <b>La lutte de Nubie</b>, pratiquée depuis plus de 3000 
                    ans, a vraisemblablement précédé la lutte grecque de plusieurs centaines d’années. Il ne faut pas oublier
                    le <b>Tahib</b> probablement l'art martial le plus ancien d'egypte encore pratiqué de nos jours,et
                   le <b>Ruah</b> anciens exercices de l'Égypte antique combinant l'apprentissage du combat, de la dance 
                        et de la méditation. 
              </p>
              <a class="btn btn-sm btn-info" href="{{ path('products')}}">La suite</a>
          </div><!-- /.col-md-7 -->
          <div class="col-md-5"><!-- 2 eme colonne pour l'image -->
                {# twig pour mettre image #}
                <img src="{{ asset('assets/img/IIIa.jpg')}}" class="img-fluid" width="500" height="500" 
                     title="les pyramides de Gizeh" alt="L'histoire des arts martiaux">
                <p class="text-center">Les pyramides d'Egypte</p>
          </div><!-- /.col-md-5 -->
</div><!-- /.row featurette -->