 <!-- premier article -->
 <div class="row featurette">
    <!--  1 er colonne avec une plus grande largeur pour le text -->
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1" id="temple_shaolin">Temple de shaolin <span class="text-muted">Les Moines Guerriers Bouddhistes</span></h2>
      <p class="feature"><b>Le monastère de Shaolin</b> se situe sur le mont Song dans la province de Henan en chine. C'est un 
      temple bouddhiste Chan (zen en nippon) qui fut édifié vers la fin du V Siècle, en l'honneur du moine indien <b>Batuo</b>.
      Le style <b>Shaolin Quan</b> est généralement considéré comme le premier art martial institutionnalisé. Selon la légende,
      <b> Bodhidharma</b> aurait enseigné cet art martial au ve siècle aux moines du temple Shaolin, pour les aider à se défendre 
      des animaux et des brigands qui rôdaient autour du monastère. Le <B>shǒubó</b> (手搏, attesté dès le IIIe siècle av. J.-C.),
      et le <B>xiang bo</b> (similaire au sanda) dans les années 600 av. J.-C., ne sont que deux exemples d'anciens arts martiaux chinois.
      Il existe deux styles : Shaolin Quan. Le style du Nord et celui du Sud. La différence est due à la situation géographique de la Chine.
      Au Sud peu de place, le style du Sud se caractérise par des mouvements courts, puissants et des positions assez hautes. Au Nord de 
      vastes plaines permettant de s’entraîner, se définit en souplesse, amplitude et de basses positions, suites ou enchaînements de mouvements 
      permettant un travail aussi bien respiratoire que musculaire.. Le temple Shaolin du Nord est
      l'original du Monastère de Shaolin, (Henan). Au sud le Temple Nan monastère Shaolin en Fujian est détruit depuis plusieurs siècles. 
      (L’existence et l’emplacement sont encore discutés). Chaque école utilise cinq animaux de base (Dragon, Serpent, Grue, Tiger, Léopard),
      chacun a plusieurs branches, à son tour.
      </p><p><a class="btn btn-info" href="{{ path('products')}}">La suite...</a></p>{# twig ancre pour envoyer sur page product #}
    </div><!-- /.col-md-7 -->
    <!-- 2 eme colonne pour les images moins large -->
    <div class="col-md-5">
      {# j utilise twig pour faire afficher les photos #}
      <img src="{{ asset('assets/img/c4.jpg')}}" class="img-fluid" width="500" height="500" title="L'entrée du temple" alt="Temple de Shaolin les Moines guerriers">
      <p class="text-center">Monastère Shaolin</p>
      <img src="{{ asset('assets/img/c8.jpg')}}" class="img-fluid" width="500" height="500" title="Démonstration du Shaolin Quan"alt="Démonstration du shaolin Quan">
      <p class="text-center">Démonstration du Shaolin Quan</p>
    </div><!-- /.col-md-5 -->
</div><!-- /.row featurette -->
