  <!-- FOOTER -->
<footer class="footer-custom"><!-- footer avec class css -->
      <p class="col-md-4 mb-0 justify-content-center">&copy; 2022 DigitalDev</p>    
         <ul class="nav col-md-4 justify-content-center">
               <li class="nav-item">
                  <a href="{{ path('app_c_g_u')}}" class="nav-link px-2 text-info">C.G.U</a>
               </li><!-- /;nav-item --> 
               <li class="nav-item">
                  <a href="{{ path('app_politique')}}" class="nav-link px-2 text-info">Politique confidentialité</a>
               </li><!-- /;nav-item --> 
         </ul><!-- /.nav col-md-4 justify-content-center-->
 </footer><!-- fin du footer -->