<div class="row"> 
   <div class="doubledragon">
      <div class="p-4 p-md-3 ">
         <p class="subtitle-item ">Ce site est un blog sur les arts martiaux,<a href="#histoire_arts_martiaux"> l'histoire</a>,
            les différents styles. L'idée est de rétablir la vérité sur l'histoire des arts martiaux et rediriger vers les sites 
             officiels des disciplines. Les arts martiaux, c'est bien plus que des enchaînements de coups de pieds et de poings
            ou de la soumission. L'objectif est de centraliser et de vous faire découvrir les autres aspects des arts martiaux 
             et du bien être en général.Des articles sur les lieux important tel que le berceau du kung fu 
             <a href="#temple_shaolin">Temple de Shaolin</a>, et le fameux <a href="#temple_mt_wu_dang"> Temple du Mont WU-Dang</a>. 
             Dans la partie <a  href="{{ path('app_blogs')}}">BLOG</a> , des articles et prochainement des liens sur 
             des videos de bien être, réservé aux Membres, <a href={{ path('app_register')}}>l'inscription est gratuite</a>,
             l'onglet <a href="{{ path('products')}}">Arts martiaux</a> vous emmenes à la bibliothèques de l histoire, 
             les écoles, les styles, les maitres, bien sur il va me falloir beaucoup de temps et de patience pour 
             la completer à 100%, merci par avance pour votre patience.
         </p> 
         <p class="home-item">"Le bonheur n'est pas la destination, le bonheur c'est le chemin"</p>
         <p class="home-item"> citation de Lao Tseu</p>
      </div><!-- /.p-4 p-md-3 -->
   </div><!-- /.doubledragon -->
</div><!-- /.row -->